<!-- category_movies.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.name }} Movies</title>
    <style>
        /* Your existing styles */
    </style>
    <script type='text/javascript' src='//pl23927486.highratecpm.com/de/89/b7/de89b76309771563f1f618587e867e6b.js'></script>
</head>
<body>
    <header>
        <h1>{{ category.name }} Movies</h1>
    </header>
    
    <div class="container main">
        <!-- Movies Section -->
        <div class="movies">
            {% for movie in movies %}
            <div class="movie">
                <a href="{% url 'movie_details' pk=movie.id %}">
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} Poster">
                    <div class="movie-info">
                        <h3>{{ movie.title }}</h3>
                        <p>{{ movie.release_date }}</p>
                        <p>{{ movie.overview }}</p>
                    </div>
                    <div class="recommended-movie-title">
                        <h2>{{ movie.title }}</h2>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div> 
    </div>
</body>
</html>
