<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
</head>
<body>
    <h1>Movie List</h1>
    <div>
        <h2>Categories:</h2>
        <ul>
            {% for category in categories %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Movies:</h2>
        <ul>
            {% for movie in movies %}
                <li>{{ movie.title }}</li>
                <ul>
                    {% for category in movie.categories.all %}
                        <li>{{ category.name }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
